.hero-section-heading h1{
    margin-bottom: 10rem;
    text-align: center;
}

.Our_Clients h1{
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 10rem;
    
}


.Clients{
    margin-bottom: 7rem;
    background-color: var(--primary-light);
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    border-radius: 1rem;
    gap: 2rem;
}

.main-h1{
    margin-top: 5rem;
}

.container-top{
    margin-top: -10rem;
}